.footer__section {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #303030;
}
.footer__title {
  font-family: "Montserrat";
  font-size: 31px;
  color: #fff;
}
.footer__describe {
  font-family: "Montserrat";
  font-size: 23px;
  color: #fff;
}
.footer__detail {
  font-family: "Montserrat";
  font-size: 23px;
  color: #fff;
}
.footer__detail ul {
  padding-left: 0 !important;
}
.footer__detail ul li {
  list-style: none;
}

.fa {
  padding: 10px;
  font-size: 25px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.8;
}
.fa-instagram {
  background: #fff;
  color: #303030;
}
.fa-facebook {
  background: #fff;
  color: #303030;
}

.fa-twitter {
  background: #fff;
  color: #303030;
}
.footer__whatsapp {
  background: #fff;
}
.fa-whatsapp {
  color: #303030;
}

@media screen and (max-width: 376px) {
  .footer__title {
    text-align: center;
  }
  .footer__describe {
    font-size: 16px;
  }
  .footer__detail {
    font-size: 16px;
  }
  .social__icons {
    text-align: center;
  }
  .other {
    text-align: center;
  }
  .other li {
    display: inline-block;
    padding: 0 10px;
  }
}
